body{
	margin: 0 auto;
	padding: 0;
	background: #ccc url(img/book.jpg) no-repeat center center fixed;
	background-size: cover;
	font-family: arial;
	font-size: 18px;
}
.wrap{
	width: 500px;
	margin: 50px auto;
	display: flex;
	flex-direction: column;
}
h3{
	text-transform: uppercase;
	padding: 10px 50px;
	background-color: #ccc;
	opacity: 70%;
	text-align: center;
